/*Ricardo Diab 9021289*/
html{
    font-style : italic;
    font-variant : small-caps;
    font-weight : 500;
    font-size : 20px;
    line-height : 1.5;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font : normal normal normal 20px/1.5 Arial, Helvetica, sans-serif;
    background-color: grey;
}
h1{/*type/element selector*/
    color:blue; /*sets font colour to blue*/
    font-size: 3rem;/*sets font to 3 larger the root element (60px)*/
    padding : .5em; /*sets padding to be 1/2 the size of the current font size (30px)*/
    text-align: center;
}